.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  /* min-width: 624px; */
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Removes the Scrolling For All Parts Of The Page*/
html, body {
  overflow: hidden;
}
